.blog{
    h3{
        margin: 40px 0;
        font-weight: bold;

        span{
            font-weight: 300;
        }
    }
    .blog-posts{
        display: flex;
        flex-wrap: wrap;
        @include for-sm-only{
            .blog-card{
                display: none;
                }
             .blog-card:nth-child(-n+4){
                 display: block;
             }
            }
        .blog-card{
            width: 430px;
            img{
                width: 100%;
            }
            h3{
                font-weight: normal;
                margin: 10px 0;
            }
            a{
                margin-bottom: 30px;
            }
        }
    }

    //extra
    .page-alignment{
        width: 1320px;
    }
}

@media screen and (max-width: 1483px) {
    .blog{
        .custom-container{
            width: 70%;
        }
        .page-alignment{
            width: 900px;
        }
    }
}

@media screen and (max-width: 1260px) {
    .blog{
        .custom-container{
            width: 90%;
        }
        .page-alignment{
            width: 100%;
        }
    }
}