.business-conditions{
    padding: 15px;
    margin-bottom: 40px;
    h1, h2, h3, h4, h5{
        font-weight: bold;
        margin: 40px 0 20px 0;
    }

    ul{
        margin-top: 30px;
    }
    p, li{
        color: $grey;
        font-size: 16px;
    }

    li:before{
        content: '■';
        color: $grey;
        margin-right: 10px;
        position: relative;
        top: 1px;
    }
    
    .gallery{
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        img{
            border-radius: 5px;
            margin: 3px;
        }
    }

}