
 .blog-comment{
     display: flex;
     border:1px solid $light;
     padding: 10px 20px;
     margin: 30px 0;

     img{
        width: 44px !important;
        height: 44px;
        margin: 10px 10px  0 0!important; 
     }
     h5{
         margin: 10px  0 5px 0!important;
         margin-bottom: 0;
         cursor: pointer;
     }

 }

 .answer{
     width: 90%;
     margin-left:10%;
 }