.blog-card{
    width: 536px;
    margin-bottom: 20px;
    margin-right: 15px;

    @include for-sm-only{
        width: 316px;
    }
    img{
        width: 536px;
        height: 294px;
        @include for-sm-only{
            width: 316px;
        }
    }
    div{
        width: 148px;
        font-size: 24px;
        font-weight: normal;
        padding: 10px 7px; 
    }
    h3{
        margin:10px 0;
        line-height: 1.5;
        font-weight: 400;
        @include for-sm-only{
            font-size: 26px;
        }
    }
    a{
      font-size: 22px;
      opacity: 60%;  
    }
}