 //checkbox in login 
 .login{ 
      .custom-checkbox{
          display: block;
          position: relative;
          padding-left: 35px;
          margin-bottom: 12px;
          cursor: pointer;
          font-size: 22px;
          width: 243px;
          margin:0 auto;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          input{
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0; 
          }
          .checkmark {
              position: absolute;
              top: -5px;
              left: 0;
              height: 20px;
              width: 20px;
              border:1px solid black;
              border-radius: 3px;
            }
            .checkmark:after {
              content: "";
              position: absolute;
              display: none;
              left: 6px !important;
              top: 3px !important;
            }
            input:checked ~ .checkmark {
              background-color: $dark;
            }
            input:checked ~ .checkmark:after {
              display: block;
            }
            .checkmark:after {
              left: 6px;
              top: 2px;
              width: 5px;
              height: 10px;
              border: solid #707070;
              border-width: 0 3px 3px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }
            p{
                font-size: 12px;
                text-align: left;
                margin-top: 15px;
                margin-left: 0px;
                color: #5f5f5f;
                font-weight: 600;
                margin-bottom: 0;
            }
            span{
              margin-top: 5px;
            }
        }
  }


  //checkbox in order
  .order, .shop{
      .custom-checkbox{
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        width: 100%;
        margin:0 auto;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        input{
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0; 
        }
        .checkmark {
            position: absolute;
            top: -5px;
            left: 0;
            height: 20px;
            width: 20px;
            border:1px solid black;
            // border-radius: 3px;
          }
          .checkmark:after {
            content: "";
            position: absolute;
            display: none;
            left: 6px !important;
            top: 3px !important;
          }
          input:checked ~ .checkmark {
            background-color: $white;
          }
          input:checked ~ .checkmark:after {
            display: block;
          }
          .checkmark:after {
            left: 6px;
            top: 2px;
            width: 5px;
            height: 10px;
            border: solid $dark;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
          p{
              font-size: 12px;
              text-align: left;
              margin-top: 15px;
              margin-left: 0px;
              color: #5f5f5f;
              font-weight: 300;
              margin-bottom: 0;
          }
          span{
            margin-top: 5px;
          }
      }
}