.datepicker{
    width: 378px;
	margin-top: 50px;
}

.custom-datepicker{
    width: 371px;
    label{
        width: 34%;
        select{
            border: none;
            padding: 10px;
            width: 100% !important;
        }
    }
    label.wrap:after {
        top: 45px;
        right: 10px;
    }
}

.invisible{
    display: none;
}

@media only screen and (max-width: 900px) {
    .custom-datepicker{
        width: 100%;
        label.wrap:after {
        top: 14px;
        right: 13px;
         }
    } 
}